<!DOCTYPE html>
<html ng-app="bookmymove">
  <head>
    <title>Book My Move</title>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  </head>
  	<body class='bg_image'>
	<!-- navigation bar -->
	<div class="mainmenu-wrapper" ui-view="header"></div><!-- container -->
	<!-- ng-view injected at this place -->
	<div class="main-view-container" ui-view="content"></div>
	<footer>
		<div class='container' ui-view="footer"></div>
	</footer> 
  </body>
</html>
